{% extends "base.html" %}
{% block title %}Bander - Bands{% endblock %}
{% block content %}
<h1>Currently Following:</h1>
	<ul id="current">
	{% for item in following.all %}
	     <a class="remove" id="remove{{item.id}}" data-id="{{item.id}}" href="#">
	     	<li>{{ item }} </li>
	     </a>
	{% endfor %}
	</ul>

<h1>Not Yet Following:</h1>
	<ul id="unfollowed">
	{% for item in notfollowing.all %}
	    <a class="add" id="add{{item.id}}" data-id="{{item.id}}" href="#">
	    	<li>{{ item }}</li>
	    </a>
	{% endfor %}
	</ul>
{% endblock %}