{% extends "base.html" %}
{% block title %}Bander - Shows{% endblock %}
{% block content %}
<h1>Currently Following:</h1>
	<ul>
	{% for item in following.all %}
	    <li>{{ item }} <a class="remove_show" id="remove{{item.id}}" data-id="{{item.id}}" href="#"> Remove </a></li>
	{% endfor %}
	</ul>

<h1>Not Yet Following:</h1>
	<ul>
	{% for item in notfollowing.all %}
	    <li>{{ item }} <a class="add_show" id="add{{item.id}}"data-id="{{item.id}}" href="#"> Add </a></li>
	{% endfor %}
	</ul>
{% endblock %}